<h1>Todo List</h1>
<form action="/todo" method="POST">
    <input type="text" name="newTodo" placeholder="New todo">
    <button type="submit">Add</button>
</form>
<ul>
    <% todoList.forEach(todo => { %>
        <li>
            <%= todo %>
            <form action="/delete" method="POST">
                <input type="hidden" name="delete" value="<%= todo %>">
                <button type="submit">Delete</button>
            </form>
        </li>
    <% }); %>
</ul>
<a href="/">Home</a>
<a href="/about">About</a>